.page {
  display: block;
  min-height: 400px;
  max-width: 598px;
  margin: 0;
  padding: 20px 25px;
  border-radius: 10px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 14;
}

.user {
  border-bottom: 1px solid #c6cdd3;
  margin-bottom: 16px;
}
.user_hidden {
 display: none;
}

.user__email {
  font-size: 32px;
  margin-bottom: 8px;
}
.user__email_hidden {
  display: none;
}

.user__status {
  padding: 0;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 12px 20px;
}

.user__status_active {
color: #28a745;
}

.user__status_danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.block {
  display: flex;
  box-sizing: content-box;
  margin-bottom: 16px;
}

.block_hidden {
  display: none;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.form_hidden {
 display: none;
 }

.form__label {
  margin-bottom: 8px;
  font-size: 80%;
  color: #6c757d;
}

.form__input {
  border: 1px solid #ced4da;
  width: 100%;
  border-radius: 1px;
  color: #495057;
  font-size: 1rem;
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 16px;
}

.form__button {
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 0 20px;
  cursor: pointer;
  min-height: 40px;
  width: 140px;

  margin: 16px 12px 40px 0;
  border-style: solid;
  border-width: 1px;
  border-color: #c6cdd3;
  background-color: white;
  color: #495057;
  font-size: 0.85rem;
  transition: 160ms linear;
}

.form__button_hidden {
 display: none;
}

.form__button:hover {
  background-color: #cfd4d8;
}

.form__button_active {
  background-color: #3bc8f5;
  color: white;
}

.form__button_active:hover {
  background-color: #3eddff;
}

.form__link{
  text-decoration: none;
  color: #495057;
}

.text {
  margin:0;
}

.text_hidden {
  display: none;
}

.spinner {
  visibility: hidden;
  width: 16px;
  height: 16px;
  border: 3px solid #cfd4d8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 10px 0 0
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.spinner_active {
  visibility: visible;
}